<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<%= button_tag :class => "btn btn-warning btn-block", title: 'Edit', data: { toggle: 'modal', target: "#newsEditModal-#{announcement.id}" } do %>
			<span class="glyphicon glyphicon-edit"></span> Edit
		<% end %>
		<%= render "edit-modal", announcement: announcement %>
	</div>
	<div class="col-md-4">
		<%= link_to announcement, :class => "btn btn-danger btn-block", method: :delete, data: { confirm: 'Are you sure?' }, title: "Remove News", 'data-toggle' => 'tooltip' do %> 
			<span class="glyphicon glyphicon-trash"></span> Remove
		<% end %>
	</div>
</div>
