<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<%= button_tag :class => "btn btn-warning btn-block", title: 'Edit', data: { toggle: 'modal', target: "#newsEditModal-#{announcement.id}" } do %>
			<span class="glyphicon glyphicon-edit"></span> Edit
		<% end %>
		<%= render "edit-modal", announcement: announcement %>
	</div>
	<div class="col-md-4">
		<%= render "templates/buttons/crud/remove", remove_model: announcement %>
	</div>
</div>