<%= simple_format(news.description, wrapper_tag: "p", class: 'indent-paragraph') %>
<% if news.file_uploads.exists? %>
	<% news.file_uploads.map{ |file| file }.in_groups_of(3, false).each do |file_group| %>
		<div class="row">
			<% file_group.each do |file| %>
				<div class="col-md-4">
					<%= link_to file.pdf(:original, false), :class => "btn btn-success btn-block", target: :_blank do %>
						<span class="glyphicon glyphicon-download"></span> Download File
					<% end %>
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>

<% if not tf_check(news.link) %>
	<div class="row">
		<div class="col-md-4 col-md-offset-8">
			<%= link_to "Visit Link &raquo".html_safe, news.link, :class => "btn btn-info btn-block", target: :_blank %>
		</div>
	</div>
	<br />
<% end %>