<div class="col-md-8 text-image-column">
	<%= render "announcements/description-only", news: news %>
</div>
<div class="col-md-4 text-image-column">
	<%= render "announcements/carousel", news: news %>
</div>