<div class="modal fade" id="newsEditModal-<%=announcement.id%>" tabindex="-1" role="dialog" aria-labelledby="newsModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="newsModalLabel">Edit News</h1>
			</div>
			<div class="modal-body">
				<%= form_with(model: announcement, url: announcement_path(announcement), method: "patch", local: true, :validate => true, html: { class: "form-horizontal", autocomplete: "off" }) do |form| %>
		          	<%= render "admin/announcements/form-fields", form: form %>
		    </div>
			<div class="modal-footer">
				<%= render modal_cancel_save_btn_path, f: form, target: "#newsEditModal-#{announcement.id}" %>
			</div>
			<% end %>
		</div>
	</div>
</div>