<br />
<div class="row">
	<div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-body">
            	<h2 class="text-center">An email has been sent to the provided email.</h2>
            	<h3 class="text-center">Please follow the directions in the email to reset your password.</h3>
            	<br />
            	<%= link_to 'Back to Login', login_path, :class => "btn btn-success btn-block", title: "Back to Login", 'data-toggle' => 'tooltip' %>
            </div>
        </div>
    </div>
</div>