<%= link_to admin_events_path, :class => "btn btn-danger", title: "Go Back", 'data-toggle' => 'tooltip' do %> 
	<span class="glyphicon glyphicon-chevron-left"></span> Back to Events
<% end %>

<h1>Create New Event</h1>
<hr />

<%= render 'form', address: @address %>
