<%= image_tag("miyoga_crest.png", class: "miyoga_header_image", alt: "Miyoga Logo") %>
<h1 class='miyoga-heading-text'>Miyoga Kendo Club</h1>
<br />
<h2>Hello <%= @user.concat_name %>,</h2>
<p>You have requested for your password to be reset. The token for reseting your password is <strong><%=@user.reset_password_token%></strong>. The following link is valid for the next 60 minutes.</p>
<p><%= link_to "Reset Password", reset_password_url, target: :_blank %></p>
<br /><br />
<p>Thank you,</p>
<p>Miyoga Kendo</p>