<h2>Hello <%#= @user.concat_name %>,</h2>
<p><%#= @user.is_admin? ? "An admin" : "A user" %> account has been created for you. Please visit the following link to login.</p>
<p><%= link_to "localhost:3000", "http://localhost:3000", target: :_blank %></p>
<p>You can use the following temprorary password, <strong><%#=@user.password%></strong>. You will be prompt to create a new password upon login. </p>
<p></p>
<br /><br />
<p>Thank you,</p>
<p>Miyoga Kendo</p>