<div class="row">
  <div class="col-md-3">
    <%= render "templates/buttons/back-to-admin-home" %>
  </div>
  <div class="col-md-3 col-md-offset-6">
    <%= render "templates/buttons/crud/new", path: path, text: new_btn_text %>
  </div>
</div>

<%= render "templates/heading", text: heading_text, list_of_classes: "align-center" %>

<%= render "templates/alerts/admin-notice" %>