<div class="panel-group">
	<div class="panel panel-navy-blue">
		<div class="panel-heading">
			<h1 class="text-center no-padding">Content</h1>
		</div>
		<div class="panel-body">
			<% @active_pages.each do |page| %>
				<%= link_to page.name, send("#{page.admin_path}"), :class => "btn btn-sidebar btn-block btn-lg" %>
			<% end %>
		</div>
		<div class="panel-heading second-panel-heading">
			<h1 class="text-center no-padding">User Data</h1>
		</div>
		<div class="panel-body">
			<% @user_data.each do |item| %>
				<%= link_to item[0], item[1], :class => "btn btn-sidebar btn-block btn-lg" %>
			<% end %>
		</div>
		<div class="panel-heading second-panel-heading">
			<h1 class="text-center no-padding">Miscellaneous</h1>
		</div>
		<div class="panel-body">
			<% @miscellaneous.each do |item| %>
				<%= link_to item[0], item[1], :class => "btn btn-sidebar btn-block btn-lg" %>
			<% end %>
		</div>
	</div>
</div>
