<div class="modal fade" id="eventAddModal" tabindex="-1" role="dialog" aria-labelledby="addEventModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="eventAddModal">Add Event</h1>
			</div>
			<div class="modal-body">
				<%= form_with(model: new_event, local: true, :validate => true, html: { class: "form-horizontal", autocomplete: "off" }) do |f| %>
				    <%= render "form-fields", f: f %>
			</div>
			<div class="modal-footer">
				<%= render modal_cancel_save_btn_path, f: f, target: "#eventAddModal" %>
			</div>
			<% end %>
		</div>
	</div>
</div>