<% if current_user.is_not_admin? %>
	<div class="row">
		<div class="col-md-12"><h1 class="no-margin"><%= event.title %></h1></div>
	</div>
<% else %>
	<div class="row vertical-align-middle">
		<div class="col-md-8"><h1 class=""><%= event.title %></h1></div>
		<div class="col-md-2"><%= render edit_btn_tag_path, target: "#eventEditModal-#{index}" %></div>
		<div class="col-md-2"><%= render remove_btn_tag_path, target: "#youSureModal-#{index}" %></div>
	</div>
<% end %>
<hr />