<p>Feel free to contact us at:</p>
<p><%= mail_to "miyoga.kendo.kai@gmail.com", "miyoga.kendo.kai@gmail.com", class: "no-link-text" %></p>
<br />
<p>To learn more about the Japanese Culture Center visit:</p>
<p><%= link_to "https://japaneseculturecenter.com/", "https://japaneseculturecenter.com/", class: "no-link-text", target: :_blank %></p>
