<div class="row">
	<% if link.images.exists? %>
		<% @image = link.images.first %>
		<div class="col-md-3">
			<%= link_to image_tag(@image.image.url, class: "text-image", alt: @image.image_file_name), link.link, target: :_blank  %>
			<div class="align-center"><%= render "templates/admin-modified-by", content: link %></div>
		</div>
	<% end %>
	<% if not tf_check(resource.description) %>
		<div class="col-md-9">
			<%= simple_format(resource.description, wrapper_tag: "p") %>
			<p><%= link_to "Visit Article &raquo".html_safe, link.link, :class => "btn btn-info", target: :_blank %></p>
		</div>
	<% end %>
</div>