<div class="row">
	<% if not link.image.blank? %>
		<div class="col-md-3">
			<%= link_to image_tag(link.image.image.url, class: "text-image", alt: link.image.image_file_name), link.link, target: :_blank  %>
			<div class="align-center"><%= render "templates/admin-modified-by", content: link %></div>
		</div>
	<% end %>
	<div class="col-md-9">
		<p><%= resource.description.html_safe if not tf_check(resource.description) %></p>
		<p><%= link_to "Visit Article &raquo".html_safe, link.link, :class => "btn btn-info", target: :_blank %></p>
	</div>
</div>