<%= render "templates/admin/index-header", path: new_admin_announcement_path, new_btn_text: "News Item", heading_text: @current_page.name + " Page" %>

<p class="text-center">Only 3 News Items can be pinned at one time.</p>
<br />

<%= render "table", news: @news %>