<div class="modal fade" id="practiceEditModal-<%=index%>" tabindex="-1" role="dialog" aria-labelledby="practiceModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="practiceModalLabel">Edit Class</h1>
			</div>
			<%= render "form", record: practice, cancel_target: "#practiceEditModal-#{index}" %>
		</div>
	</div>
</div>