<div class="row">
  <div class="col-md-3">
    <%= render back_to_page_path, text: back_text, path: back_path %>
  </div>
</div>

<%= render heading_path, text: heading_text %>

<%= render notice_path %>
<%= render form_errors_path, model: object %>