<div class="row">
  <div class="col-md-3">
    <%= render back_to_admin_home_path %>
  </div>
  <div class="col-md-3 col-md-offset-6">
    <%= render new_btn_path, path: path, text: new_btn_text %>
  </div>
</div>

<%= render heading_path, text: heading_text %>

<%= render admin_notice_path %>
