<% @content.each do |content| %>
	<h1><%=content.heading%></h1>
	<hr />
	<%= content.subheading.nil? ? "" : "<h3>#{content.subheading}</h3>".html_safe %>
	
	<div class="paragraph-container">
		<div class="row">
			<div class="text-image-column">
				<p class="indent-paragraph"><%=content.description.html_safe%></p>
			</div>
			<div class="text-image-column">
				<%= image_tag("about_page/old_kendo_postcard.jpg", class: "text-image", alt: "Old Kendo Image") %>
			</div>
		</div>
	</div>
	<br />
<% end %>

<%#= image_tag("about_page/kendo_strike.jpg", class: "text-image", alt: "Kendo Strike") %>
<%#= image_tag("about_page/sensei.jpg", class: "text-image", alt: "Old Kendo Image") %>