<%= link_to_add_association form, :links, :partial => 'templates/nested-forms/link_fields', :class => "btn btn-info btn-block", :id => "add_link" do %>
	<span class="glyphicon glyphicon-plus"></span> Add a Link
<% end %>