<%= link_to_add_association form, :file_uploads, :partial => 'templates/nested-forms/file_upload_fields', :class => "btn btn-info btn-block", :id => "add_image" do %>
	<span class="glyphicon glyphicon-plus"></span> Add a File
<% end %>