<%= link_to_add_association form, :images, :partial => 'templates/nested-forms/image_fields', :class => "btn btn-info btn-block", :id => "add_image" do %>
	<span class="glyphicon glyphicon-plus"></span> Add an Image
<% end %>