<%= link_to_remove_association f, :class => "btn btn-danger", data: { confirm: 'Are you sure?' }, title: 'Remove', 'data-toggle' => 'tooltip' do %>
	<span class="glyphicon glyphicon-trash"></span>
<% end %>