/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require dataTables/jquery.dataTables
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap";
@import "bootstrap-sprockets";

.body-container{
	background-color: #000080;
	color: white;
	padding: 25px 15px;
}

.cursor-pointer{
	cursor: pointer !important;
}

.row-padding{
	padding-top: 10px;
	padding-bottom: 10px;
}

h1{
	font-size: 36px;
}
h1, h2, h3, .btn{
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6, .landing-page-font p, .btn-bold-font{
    font-variant: small-caps;
}

footer{
    position:absolute;
    bottom:0;
    width:100%;
}