/* ############### */
/* ### BUTTONS ### */
/* ############### */
	.btn{
		font-size: 16px;
	}

	.btn-group-vertical{
		width: 100%;
	}

	.btn-green{
		background-color: #32CD32;
	}
	.btn-green:hover{
		background-color: #2db92d;
	}

	.btn-primary, .btn-success, .btn-info, .btn-danger, .btn-warning, .btn-green, .btn-nupurple{
		color: white !important;
	}

	//LEFT SIDEBAR
	.btn-sidebar, .btn-sidebar:visited{
		color: #333333;
	}
	.btn-sidebar:hover{
		background-color: #C0C0C0;
		color: white !important;
	}

	.panel-navy-blue{
		border-color: #000080 !important;
	}
	.panel-navy-blue .panel-heading{
		background-color: #000094;
		color: white;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px
	}

	.btn-block-padding{
		margin-top: 15px;
		margin-bottom: 10px;
	}

	input[type='checkbox'].form-control{
		cursor: pointer;
	}

