/* ############### */
/* ### BUTTONS ### */
/* ############### */
	.btn{
		font-size: 16px;
		white-space: normal !important;
	}

	.btn-blue{
		background-color: #000080;
		border: 1px solid #808080 !important;
	}

	.btn-blue:hover{
		background-color: #000080;
		color: #0a0aff !important;
	}

	//LEFT SIDEBAR
	.btn-sidebar, .btn-sidebar:visited{
		color: #333333;
		font-weight: bold !important;
		font-variant: small-caps;
		font-size: 28px !important;
	}
	.btn-sidebar:hover{
		background-color: #000080;
		color: white !important;
	}

	.btn-group-vertical{
		width: 100%;
	}

	.btn-green{
		background-color: #32CD32;
	}
	.btn-green:hover{
		background-color: #2db92d;
	}

	.btn-blue, .btn-primary, .btn-success, .btn-info, .btn-danger, .btn-warning, .btn-green{
		color: white !important;
	}

	.btn-block-padding{
		margin-top: 15px;
		margin-bottom: 10px;
	}

	input[type='checkbox'].form-control, .pointer-cursor{
		cursor: pointer;
	}

	.active ul li{
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;

		/* For making demo more fun: */
		border-top: 2px solid #000080;
		border-left: 2px solid #000080;
		border-right: 2px solid #000080;
		margin: 10px;
	}
