.home_image{
	width: 100%;
}

.miyoga-header{
	padding: 10px;
}
.miyoga_header_image{
	vertical-align:middle;
}

.miyoga-heading-text{
	font-weight: bold;
	font-size: 50px;
	font-variant: small-caps;
	padding-left: 15px;
}

.jcc_logo_container a:hover, .social_media_logo:hover {
	background-color: transparent;
	text-decoration: none;
	color: #333333;
}

.jcc_logo{
	width: 25%;
}

.social_media_logo img, .social_media_logo img{
	width: 48px !important;
    height: 48px !important;
}
.social_media_logo, .social_media_logo:visited{
	color: #333333;
}