.home_image{
	width: 100%;
}

.miyoga-header{
	padding: 10px;
}
.miyoga_header_image{
	vertical-align:middle;
}

.miyoga-heading-text{
	font-weight: bold;
	font-size: 50px;
	font-variant: small-caps;
	padding-left: 15px;
}

.jcc_logo_container a:hover, .social_media_logo:hover {
	background-color: transparent;
	text-decoration: none;
	color: #333333;
}

.jcc_logo{
	width: 25%;
}

.social_media_logo img, .social_media_logo img{
	width: 48px !important;
    height: 48px !important;
}
.social_media_logo, .social_media_logo:visited{
	color: #333333;
}


/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: #000080;
  width: 100% !important;
  padding: 0px !important;
}

/* Centered text */
.middle-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-centered {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.very-bottom-centered {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blue-back{
  background-color: #0000cd;
  height: 320px;
}

.white-back{
  color: #333333;
  height: 320px;
}

