/* ############### */
/* ### IMAGES ### */
/* ############### */
  .image-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 150px;
  }

  .admin-home-table-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

// For Side by Side Text and Image
.text-image-column {
  float: left;
  width: 50%;
  padding: 5px;
}
.admin-resourse-images {
  height: 300px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.text-image{
	width: 100%;
}

.responsive-image {
	max-width: 100%;
	height: auto;
}

.jcc-images img{
	width: 100%;
	height: auto;
	padding: 5px;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.small-form-image{
  width: 100px;
}

.abouts_carousel_image_size .item img{
  width: 100%;
  height: 500px !important;
  max-height: 750px;
}

.news_carousel_image_size .item img{
  width: 100%;
  height: 250px !important;
  max-height: 400px;
}