.navbar{
	margin-bottom: 0px !important;
	text-align:center;
}

.navbar-default{
	background-color: #000067 !important;
	border-color: #00004d !important;
	border-radius: 0px !important;
}

.navbar-nav{
	text-align: center !important;
	float: none !important;
	display: inline-block !important;
	list-style:none; 
}

.navbar-default .navbar-nav > li {
	display: inline !important;
}

// Navigation Bar Font
.navbar-default .navbar-nav > li > a{
	color: white !important;
	font-size: 18px;
	font-weight: bold !important;
	font-variant: small-caps;
}

// Navigation Bar Hover Event
.navbar-collapse .navbar-nav li a:hover{
	color: #0a0aff !important;
}

.header-image{
	height: 50px;
	padding-right: 15px;
}

.container-fluid{
	padding-left: 0px !important;
	padding-right: 0px !important;
}