/* ############### */
/* ### PADDING ### */
/* ############### */
	.no-padding{
		padding: 0px !important;
	}

	.no-left-padding{
		padding-left: 0px;
	}

	.padding, .card{
		padding: 15px;
	}

	.padding-top-bottom{
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.padding-top{
		padding-top: 10px;
	}

	.padding-bottom{
		padding-bottom: 15px;
	}

	.padding-right{
		padding-right: 10px;
	}

	.padding-left-right{
		padding-left: 15px;
		padding-right: 15px;
	}

	.no-margins{
		margin: 0px
	}

	.margin-top{
		margin-top: 5px
	}

	.center-vertically{
		width: 60%;
		padding: 10px;
	}
	.footer-center-vertically{
		margin: auto;
	}
