/* ############### */
/* ### PADDING ### */
/* ############### */
	.no-padding{
		padding: 0px !important;
	}
	.no-left-padding{
		padding-left: 0px;
	}

	.padding{
		padding: 15px;
	}

	.padding-top{
		padding-top: 10px;
	}

	.padding-right{
		padding-right: 10px;
	}

	.no-margins{
		margin: 0px
	}

	.margin-top{
		margin-top: 5px
	}

	.padding-bottom{
		padding-bottom: 15px;
	}