.table-cell-background{
	background-color: #dee2e6;
}

// For Side by Side Text and Image
.text-image-column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.text-image{
	width: 100%;
}