h1{
  font-size: 36px !important;
}
h1, h2, h3{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.alert h4 {
  margin-top: 10px !important;
}

.white-text{
  color: white;
}

.red-text{
  color: red;
}

.cursive-font{
  font-family: Zapf-Chancery, cursive;
}

.modal-header, .text-center th, .text-center td{
	text-align: center;
}

.no-margin{
  margin: 0px;
}

.paragraph-indentation{
	text-indent: 75px;
}

.center-map{
	object-position: 50% 50%;
}

/* Header Links/Tabs */
.header-link-text:hover, .header-link-text:visited, .header-link-text:link {
  text-decoration: none;
  color: inherit;
  background-color: white;
}

.no-link-text a:hover, .no-link-text a:visited, .no-link-text a:link, .no-link-text a.active {
  text-decoration: none;
  color: white;
  background-color: #000080;
}

/* Link that looks like text */
.text-link, .text-link:hover, .text-link:visited, .text-link:link, .text-link:active, 
.text-link a:hover, .text-link a:visited, .text-link a:link, .text-link a:active
.text-link li a, .text-link active, .text-link li a:hover, .text-link li a:visited, .text-link li a:link, .text-link li a:active {
  text-decoration: none;
  background-color: transparent;
  color: #333333 !important; /*Black*/
}

.paragraph-container{
  padding-left: 40px;
  padding-right: 40px;
}

.indent-paragraph{
  text-indent: 30px;
}

/* PANELS */
.panel-heading{
  font-size: 20px;
}
.panel-body{
  font-size: 16px;
}

.vertical-align-middle{
  display:flex;
  align-items:center; /* vertically aligns */
  justify-content: center;
}

.error-list-padding li{
  padding-top: 5px;
  padding-bottom: 5px;
}

.tab-text li a, .table-link{
  text-decoration: none;
  background-color: transparent;
  color: #333333; /*Black*/
}

.yellow{
  color: gold;
}

.nav-tabs .nav-item .nav-link {
  background-color: #0080FF;
  color: #FFF;
  border: 1px solid red;
}

/* CHANGE COLOR OF NAV TABS */
ul.nav li.active {
  border-left: 1px solid #000080;
  border-right: 1px solid #000080;
  border-top: 1px solid #000080;
  border-bottom: 0px;
  border-radius: 5px 5px 0px 0px;
}

ul.nav li {
  border-bottom: 1px solid #000080;
}
