h1{
  font-size: 36px !important;
}
.white-text{
  color: white;
}

.red-text{
  color: red;
}

.cursive-font{
  font-family: Zapf-Chancery, cursive;
}

.align-left{
	text-align: left;
}

.align-center, .align-center th, .align-center td{
	text-align: center;
}

.align-right{
	text-align: right;
}

.no-margin{
  margin: 0px;
}

.paragraph-indentation{
	text-indent: 75px;
}

.center-map{
	object-position: 50% 50%;
}

//Header Links/Tabs
.header-link-text:hover, .header-link-text:visited, .header-link-text:link, .header-link-text.active {
  text-decoration: none;
  color: inherit;
  background-color: white;
}

.no-link-text:hover, .no-link-text:visited, .no-link-text:link, .no-link-text.active {
  text-decoration: none;
  color: white;
  background-color: #000080;
}

//Link that looks like text
.text-link:hover, .text-link:visited, .text-link:link, .text-link:active, 
.text-link a:hover, .text-link a:visited, .text-link a:link, .text-link a:active {
  text-decoration: none;
  color: #333333;
  background-color: transparent;
}

//Emails & Links
.link-text:hover, .link-text:visited, .link-text:link, .link-text.active {
  text-decoration: none;
  color: #428bca;
  background-color: transparent;
}

.paragraph-container{
  padding-left: 40px;
  padding-right: 40px;
}

.indent-paragraph{
  text-indent: 30px;
}

//PANELS
.panel-heading{
  font-size: 20px;
}
.panel-body{
  font-size: 16px;
}

.vertical-align-middle{
  display:flex;
  align-items:center; /* vertically aligns */
  justify-content: center;
}

.error-list-padding li{
  padding-top: 5px;
  padding-bottom: 5px;
}

.tab-text li a{
  color: #333333 !important;
}

.yellow{
  color: gold;
}