.align-left{
	text-align: left;
}

.align-center, .align-center th, .align-center td{
	text-align: center;
}

.align-right{
	text-align: right;
}

.paragraph-indentation{
	text-indent: 75px;
}

.center-map{
	object-position: 50% 50%;
}

.header-link-text:hover, .header-link-text:visited, .header-link-text:link, .header-link-text.active {
  text-decoration: none;
  color: inherit;
  background-color: white;
}

.no-link-text:hover, .no-link-text:visited, .no-link-text:link, .no-link-text.active {
  text-decoration: none;
  color: white;
  background-color: #000080;
}

.paragraph-container{
  padding-left: 40px;
  padding-right: 40px;
}

.indent-paragraph{
  text-indent: 30px;
}