<%= link_to remove_model, :class => "btn btn-danger btn-block", method: :delete, data: { confirm: 'Are you sure?' }, title: "Remove News", 'data-toggle' => 'tooltip' do %> 
	<span class="glyphicon glyphicon-trash"></span> Remove
<% end %>